@import 'global.css';

.main-container {
    max-width: 900px;
}

.header-container h1 {
    font-family: "Neue Machina", cursive !important;
}

section {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}

section h2 {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

section h2, section ul, section > div {
    padding: 10px !important;
    background-color: var(--bg-color-sections);
    border-radius: 8px;
}

section div:has(ul) ul {
    padding: 0;
    background-color: transparent;
}

.basic-information ul {
    font-size: .8rem;
}

.basic-information ul li::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: contain;
}

.basic-information ul .location::before {
    background-image: url("../images/basic-info-icons/location.svg");
}

.basic-information ul .phone::before {
    background-image: url("../images/basic-info-icons/phone.svg");
}

.basic-information ul .email::before {
    background-image: url("../images/basic-info-icons/email.svg");
}

.basic-information ul .github::before {
    background-image: url("../images/basic-info-icons/github.svg");
}

.basic-information ul .linkedin::before {
    background-image: url("../images/basic-info-icons/linkedin.svg");
}

.basic-information ul .calendar::before {
    background-image: url("../images/basic-info-icons/calendar.svg");
}

.personal-interests ul li, .skills ul li {
    background-color: var(--bg-color-list);
    border-radius: 10px;
}

.personal-interests ul li img, .skills ul li img {
    width: 40px;
    height: 40px;
}

.skills .soft-skills ul li {
    font-size: .8rem;
}

.languages-container ul li {
    font-size: .8rem;
}

.languages-container ul li:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../images/check.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}

.education-container div p {
    font-size: .8rem;
}

.education-container .linked {
    border: 3px solid var(--main-border-color);
    transition: background-color .2s ease-in-out;
}

.education-container .linked:hover {
    background-color: var(--bg-color-education-container);
}

.education-container .linked a {
    cursor: pointer;
}

.portfolio-container div a {
    font-size: .8rem;
}

.portfolio-container div .port-github::before {
    background-image: url("../images/basic-info-icons/github.svg");
}

.portfolio-container div h3::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .main-container {
        border: 3px solid var(--main-border-color);
        border-radius: 15px;
    }
}